.app-cursor {
    z-index: 1000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    pointer-events: none;
    overflow: hidden;
    transform: translate(0, 0, 0);

    position: fixed;
}