@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@100;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  margin: 0;
  width: 100%;

}

.contents {
  /* font-family: "Bai Jamjuree", sans-serif; */
  font-family: Helvetica Arial,Noto Sans,sans-serif;
}

.content_top {
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Type 4;/* "Bai Jamjuree", sans-serif; */
  margin-bottom: 250px;
}

.logo_name {
  position: absolute;
  left: 5%;
  top: 3%;
  font-size: 1.2vw;
  font-weight: 500;
  color: #464646;
  letter-spacing: -0.05em;
  /* font-family: 'Cinzel', serif; */
}

.logo_name:before {
  content: "";
  position: absolute;
  width: 5vw;
  left:-6vw;
  height: 1px;
  top: calc(50% + 1px);
  border-bottom: 1px solid;
  transform: translate3d(0, -50%, 0);
  color: #00539CFF;
}

.logo_country {
  position: absolute;
  right: 5%;
  top: 3%;
  font-size: 1.3vw;
  font-weight: 500;
  color:#464646;
  letter-spacing: -0.05em;
  /* font-family: 'Cinzel', serif; */
}

.main_content {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
/*   font-family: 'Cinzel', serif; */
}

.main_images {

  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}


.main_images img {
  width: 25vw;
}

.main_images div {
  position: absolute;
  opacity: 0;
}

.main_img1 {
  left: 10vw;
  top: 7vh;
  animation: main_img 10s linear infinite;
}

.main_img2 {
  right: 10vw;
  bottom:12vh;
  animation: main_img 10s linear infinite;
  animation-delay: 3s;
}

.main_img3 {
  right: 12vw;
  top: 7vh;
  animation: main_img 10s linear infinite;
  animation-delay: 9s;
}

.main_img4 {
  left: 16vw;
  bottom: 18vh;
  animation: main_img 10s linear infinite;
  animation-delay: 6s;
}

@keyframes main_img {

  0% {
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.main_name {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
  left: 25vw;
  top: 22vh;
  font-size: 5vw;
  color: #181D31;
/*   font-weight: 600; */
  z-index: 99;
}


.main_job {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: 'Montserrat', sans-serif; */
  width: 50vw;
  height: 50vh;
  left: 25vw;
  top: 30vh;
  font-size: 1.5vw;
  font-weight: 600;
  text-align: center;
  animation: 1s cubic-bezier(0, 0.1, 0.12, 0.99) 0s 1 normal forwards running gGjJEE;
  transform: translateY(-30px);
  animation-delay: 1.5s;
  opacity: 0;
}


@keyframes gGjJEE {
  0% {
    opacity: 0;
    transform: translateY(-90px);
  }

  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}


.div2 {
  height: 100vh;
  /* position: sticky;
  top:20%; */
  /* overflow: hidden; */
  align-items: center;
}

.about {
/*   position: absolute; */
  font-size: 9vw;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin-left: 18%;
/*   margin-top: -5%; */
  font-family: Helvetica Arial,Noto Sans,sans-serif;
  color: #00539CFF;
}

.me {
  /* position: absolute; */
  font-size: 9vw;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin-left: 17.4%;
  margin-top: -2%;
  font-family: Helvetica Arial,Noto Sans,sans-serif;
  color: #00539CFF;
}

.aboutText {
  /* position: absolute; */
  font-size: 2vw;
/*   font-weight: 200; */
  text-align: left;
  transform: translateY(40px);
  margin-left: 34%;
  margin-right: 4%;
  margin-top: -10%;
  font-family: Helvetica Arial,Noto Sans,sans-serif;
/*   font-family: 'Poppins', serif; */

}

.loader-wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #00539CFF;
}

h1 {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: italic;
  margin-top: 10px;
}

.absolute {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
}


/* .content_skills {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #64b2d8;
  color: #fff;
  font-family: 'Cinzel', serif;
  font-size: 4vw;
  letter-spacing: -0.05em;
} */
