@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@100;700&display=swap");


body {
  margin: 0;
  width: 100%;
}

.contents {
  font-family: "Bai Jamjuree", sans-serif;
}

.content_top {
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Bai Jamjuree", sans-serif;
  margin-bottom: 150px;
}

.logo_name {
  position: absolute;
  left: 3%;
  top: 4%;
  font-size: 1.5vw;
  font-weight: 300;
  color: #464646;
}

.logo_country {
  position: absolute;
  right: 5%;
  top: 4%;
  font-size: 30px;
  font-weight: 300;
  color:#464646;
}

.main_name {

  /* font-family: "Bodoni Moda", serif; */
  text-align: center;
  font-size: 5vw;
  font-weight: 600;
  animation: fadeIn ease 1.5s;
  color:#fa5959;

}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    opacity: 100;
    transform: scale(1);
  }
}

.main_job {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.5vw;
  font-weight: 600;
  text-align: center;
  animation: 1s cubic-bezier(0, 0.1, 0.12, 0.99) 0s 1 normal forwards running gGjJEE;
  transform: translateY(-30px);
  animation-delay: 1.5s;
  opacity: 0;
}


@keyframes gGjJEE {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}


.div2 {
  height: 100vh;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.test2 {
/*   transition: transform 5s ease-out 0s; */
  font-size: 6vw;
  font-weight: 700;
  color: #fa5959;
/*   color: #999; */
 /*  opacity: 0.5; */
}

.aboutText {
  position: absolute;
  font-size: 1.5vw;
  font-weight: 200;
  text-align: left;
  transform: translateY(40px);
  margin-left: 28%;
  margin-right: 20%;

}

.skills {
  width: 100%;
  height: 100vh;
  background-color: #fa5959;
  color: #fff;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 4vw;
}