body{
  margin: 0;
  width: 100%;
}

.contents {
}
.div1 {
  height: 100vh;
  background-color: #fff;
}
.div2{
  height: 150vh;
  position: relative;
  overflow: hidden;
  align-items: center;
}
.test2 {
  position: absolute;
  left: -15%;
  transition: transform 0.6s ease-out 0s;
  font-size: 100px;
  font-weight: 700;
  color: rgb(238, 238, 238);
}

.aboutText {
  position: absolute;
    font-size: 25px;
    font-weight: 200;
    text-align: left;
    transform: translateY(20px);
    margin-left: 30%;
    margin-right: 7%;
}